<head>
  {{ template "_internal/google_analytics.html" . }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ site.Title }}</title>

  {{ if eq .Kind "page" }}
  <meta name="description" content="{{ .Summary }}" />
  {{ else }}
  <meta
    name="description"
    content="{{ site.Params.description }}"
  />
  {{ end }}

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/44a1dd0b54.js" crossorigin="anonymous"></script>
</head>
